<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div id="heading">
        <h1>Welcome to Library Management System</h1>
    </div>
    <div id="dashboard">
        <h2>Welcome, {{ fullname }}!</h2>
        <div class="button-container">
            <a href="{{ url_for('logout') }}" class="auth-button">Logout</a>
            <!-- woking now done -->
        </div>
    </div>
</body>
</html>
